<!DOCTYPE html>
<html lang='en'>

<head>
	<title>EzCiphey</title>
	<meta charset="UTF-8">
	<meta property="og:title" content="EzCiphey tool by DJ Stomp" />
	<meta property="og:image" content="https://cdn.discordapp.com/emojis/856293187027075072.gif" />
	<meta property="og:description" content="A simple web wrapper for the Ciphey API. Enter encoded text and the tool will attempt to decipher it for you."
	/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
		body,
		h1 {
			font-family: "Raleway", sans-serif
		}

		div {
      text-align: center;
      padding-top: 15%;
			padding: 20px;
      height: device-height;
		}

    p {
      vertical-align: middle;
    }

		body,
		html {
			height: 100%
		}

		.bgimg {
			background-image: url('https://i.imgur.com/G8SP9NP.jpg');
			min-height: 100%;
			background-position: center;
			background-size: cover;
		}
	</style>
</head>

<body>
	<script>
		function success() {
    if(document.getElementById("mysterytext").value==="") { 
              document.getElementById('sendbutton').disabled = true; 
          } else { 
              document.getElementById('sendbutton').disabled = false;
          }
      }
	</script>
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
		<div class="page-content w3-animate-top">
			<h2>
        DJ Stomp's EzCiphey Tool
      </h2>
			<p>
				<form method="post" action="/">
					<label for="mysterytext">Enter text to decode: </label><br>
    <input type="text" id="mysterytext" name="mysterytext" placeholder="Enter your Message..." onkeyup="success()"><br><br>
    <input type="submit" value="Decipher!" name="sendbutton" id="sendbutton" disabled>
    </form>
</p>
<div>
</div>
</body>
</html>